
*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #e67e22;
  font-family: 'PT sans', sans-serif;
}

.header{
  margin-bottom: 30px;
}

h1{
  color: #FFF;
  font-size: 72px;
}

@-webkit-keyframes hammer-rotate{
  25% { -webkit-transform: rotate(-20deg); transform: rotate(-20deg) }
  75% { -webkit-transform: rotate(30deg); transform: rotate(30deg) }
}

@keyframes hammer-rotate{
  25% { -webkit-transform: rotate(-20deg); transform: rotate(-20deg) }
  75% { -webkit-transform: rotate(30deg); transform: rotate(30deg) }
}

svg{
  width: 150px;
  position: absolute;
  top: -104px;
  left: -80px;
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

form{
  position: relative;
}

small{
  font-size: 30px;
  color: #DDD;
}

.container{
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-sizing: border-box;
  text-align: center;
}

input{
  padding: 10px 5px;
  width: 400px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #FFF;
  font-size: 24px;
  text-align: center;
  color: #FFF;
  font-family: 'PT sans', sans-serif;
  border-radius: 3px 0 0 3px;
  margin: 0;
}

input:focus{
  outline: none;
}

button{
  background-color: transparent;
  padding: 10px 5px;
  color: #FFF;
  border: 2px solid #FFF;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  font-family: 'PT sans', sans-serif;
  border-radius: 0 3px 3px 0;
  margin: 0;
  margin-left: -6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

button:hover{
  background-color: #FFF;
  color: #e67e22;
}

.error{
  padding: 10px 10px;
  background-color: #e74c3c;
  margin-bottom: 10px;
  color: #FFF;
  border: 2px solid #c0392b;
}

.result{
  padding: 10px 10px;
  background-color: #2ecc71;
  margin-top: 10px;
  color: #444;
  border: 2px solid #27ae60;
}

a{
  color: #444;
  text-decoration: underline;
}

.active{
  -webkit-animation: hammer-rotate 1s;
  animation: hammer-rotate 1s;
}

footer a{
  color: #DDD;
}

footer{
  position: absolute;
  bottom: 20px;
  font-size: 20px;
  text-align: center;
  width: 100%;
  color: #DDD;
}
